.flex{
  display: flex;
}
.right{
  right: 0px;
}
.p-16{
  padding: 16px;
}
.p-32{
  padding: 32px;
}
.margin-top-32{
  margin-top: 32px;
}
.p-8{
  padding: 8px;
}
.Title{
  h2{
    font-family: 'Playfair Display', serif;
  }
  i{
    font-family: 'Playfair Display', serif;
  }
}
.addCustomerOrder{
  display: flex;
  max-width: 100%;
  a{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #e49f30;
    text-decoration: none;
    color: #705032;
    margin-left: 16px;
    border-radius: 45px;
  }
}
table{
  overflow-x: hidden;
  overflow-y: hidden;
  thead{
    background-color: #006DEB;
    color: #FFFFFF !important;
    height: 32px;
    border-radius: 5px 5px 0px 0px;
  }
  tbody {
    td{
      height: 48px;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #2E3138;
    }
  }
}
