<body>
  <div>
    <app-menu-customer></app-menu-customer>
  </div>
  <div class="body-content">
    <div class="">
      <img src="../../../../../assets/images/Banner1.jpg" alt="" />
    </div>
    <h3>VESTSCRAFT'S CARE</h3>
    <label>OUR PRODUCTS</label>
    <p>
      The images of the suits, shirts, pants, vests and coats
      (Products)/Material on our Site are for illustrative purposes only and
      your Products may vary slightly from those images, as although we have
      made every effort to display the colours accurately:
    </p>
    <ul>
      <li>
        We cannot guarantee that your computer's display of the colours
        accurately reflect the colour of the Products; and
      </li>
      <li>
        The packaging of the Products may vary from that shown on images on our
        Site.
      </li>
    </ul>
    <label>For Standard Products order online:</label>
    <p>
      Our shopping pages will guide you through the steps you need to take to
      place an order with us for our Standard Products. Our order process allows
      you to check and amend any errors at several stages before submitting your
      order to us. Please take the time to read and check your order at each
      page of the order process and use the ‘edit’ button to amend your order.
    </p>
    <label>For full canvas suit and customizes Products order online:</label>
    <p>
      Our shopping pages guide you through the steps you need to enquire by
      e-mail or telephone about special Products. Once you have discussed and
      agreed the particular model, style, dimension, colour, type of material,
      size, and any other additional with DUCCIO representative, we will:
    </p>
    <ul>
      <li>
        Provide details of the proposed order for Products, including a
        description of the Products, the price, the terms on which these
        Products will be supplied, and the estimated delivery time; and
      </li>
      <li>
        Clearly set out how you can confirm and submit this order by making
        payment. Please take the time to read and check your order before you
        make payment and contact your relevant DUCCIO representative to amend
        any errors.
      </li>
    </ul>
    <label>PRICE OF PRODUCTS AND DELIVERY CHARGES</label>
    <p>
      The prices of the Products will be as quoted on our Site at the time you
      submit your order. We take all reasonable care to ensure that the prices
      of Products are correct at the time when the relevant information was
      entered onto the system.
    </p>
    <p>
      Prices for our Products may change from time to time, but changes will not
      affect any order you have already placed.
    </p>
    <p>
      The price of a Product includes VAT (where applicable) at the applicable
      current rate chargeable in the Vietnam for the time being. However, if the
      rate of VAT changes between the date of your order and the date of
      delivery, we will adjust the VAT you pay, unless you have already paid for
      the Products in full before the change in VAT takes effect.
    </p>
    <p>
      The price of a Product does not include delivery charges. Our delivery
      charges are as advised to you during the check-out process for Standard
      Products or in e-mail correspondence for Made-to-order Products, before
      you confirm your order. To check relevant delivery charges, please refer
      to our DUCCIO’s staff.
    </p>
  </div>
</body>
