<section>
  <div class="card-area">
      <div class="box">
          <div class="cart-img">
              <img src="../../../../assets/images/experts1.jpg" alt="">
          </div>
          <div class="cart-text">
              <div class="cart-title">
                  <h1>Ralph Lauren</h1>
                  <hr>
              </div>
              <div class="cart-text">
                  <p>Ralph Lauren được xem là tỷ phú của ngành công nghiệp thời trang khi là chủ nhân của những thương hiệu đẳng cấp</p>
              </div>
              <div class="cart-social">
                <i class='bx bxl-facebook' aria-hidden="true"></i>
                <i class='bx bxl-instagram' aria-hidden="true"></i>
                <i class='bx bxl-twitter' aria-hidden="true"></i>
              </div>
          </div>
      </div>
      <div class="box">
          <div class="cart-img">
              <img src="../../../../assets/images/experts2.jpg" alt="">
          </div>
          <div class="cart-text">
              <div class="cart-title">
                  <h1>Tom Ford</h1>
                  <hr>
              </div>
              <div class="cart-text">
                  <p>Tom Ford đã thổi một làn gió trẻ trung vào danh sách của những nhà thiết kế thời trang gạo cội lẫy lừng</p>
              </div>
              <div class="cart-social">
                <i class='bx bxl-facebook' aria-hidden="true"></i>
                <i class='bx bxl-instagram' aria-hidden="true"></i>
                <i class='bx bxl-twitter' aria-hidden="true"></i>
              </div>
          </div>
      </div>
      <div class="box">
          <div class="cart-img">
              <img src="../../../../assets/images/experts3.jpg" alt="">
          </div>
          <div class="cart-text">
              <div class="cart-title">
                  <h1>Coco Chanel</h1>
                  <hr>
              </div>
              <div class="cart-text">
                  <p>Tên đầy đủ của bà là Gabrielle “Coco” Bonheur Chanel, bà là một nhà thiết kế xuất sắc của nước Pháp</p>
              </div>
              <div class="cart-social">
                <i class='bx bxl-facebook' aria-hidden="true"></i>
                <i class='bx bxl-instagram' aria-hidden="true"></i>
                <i class='bx bxl-twitter' aria-hidden="true"></i>
              </div>
          </div>
      </div>
      <div class="box">
          <div class="cart-img">
              <img src="../../../../assets/images/experts4.jpg" alt="">
          </div>
          <div class="cart-text">
              <div class="cart-title">
                  <h1>Lorem İmpus</h1>
                  <hr>
              </div>
              <div class="cart-text">
                  <p>Nhà thiết kế Oscar de la Renta có vẻ ngoài lịch lãm và điển trai, là người gốc Dominica nhưng ông đã tìm đến Mỹ</p>
              </div>
              <div class="cart-social">
                <i class='bx bxl-facebook' aria-hidden="true"></i>
                <i class='bx bxl-instagram' aria-hidden="true"></i>
                <i class='bx bxl-twitter' aria-hidden="true"></i>
              </div>
          </div>
      </div>
  </div>
</section>
