<body>
  <app-menu-customer></app-menu-customer>

  <section class="section-two">
    <img src="./../../../assets/images/Frame13.png" alt="">
  </section>


  <section>
    <app-header-customer></app-header-customer>
  </section>

  <!-- services -->
  <section class="section-ten">
    <h3>Service</h3>
    <app-service-homepage></app-service-homepage>
  </section>

  <section class="section-three">
    <div>
    </div>
  </section>

  <!--What we do-->
  <section class="section-ten">
    <h3>What we do</h3>
    <app-what-we-do-section></app-what-we-do-section>
  </section>

  <!--our experts-->
  <section class="section-ten">
    <h3>Our experts</h3>
    <app-our-experts></app-our-experts>
  </section>

  <!-- đối tác của chúng tôi-->
  <section class="section-ten">
    <h3>Our partners</h3>
    <app-third-party></app-third-party>
  </section>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</body>
