<body>
  <app-menu-customer></app-menu-customer>
  <!-- Section One -->

  <section class="section-one">
    <h2 class="header">Build. Grow. Serve.</h2>
    <p class="section-one-paragraph">We are investing $3 million over the next three years Build|Grow|Serve program, created to support and empower Black underrepresented communities</p>
    <a routerLink="/about-us" class="learn-more-btn">Learn More </a>
  </section>

  <!-- Section Two -->
  <section class="section=two">
    <img src="./../../../assets/images/section-one.jpg" alt="">
  </section>

  <!-- Section Three -->
  <section class="section-three">
    <h3>We enrich people's lives through creating beautiful works that exude their charm</h3>
  </section>

  <!-- Section Four -->
  <section class="section-four">
    <div class="flex-group">
      <div>
        <img src="./../../../assets/images/secction-two.webp" alt="">
      </div>
      <div class="content-container">
        <h4>YOUR INITIAL CONSULTATION GETTING TO KNOW YOU</h4>
        <p>At the beginning of your consultation, our tailoring consultant will sit with you and discuss <br>what you’re hoping to get from a suit and if you have any images or ideas you’ve brought with you.<br>
          Your answers to these questions will give us the information we need to show you our recommended cloth books and get started on the style.</p>
        <a routerLink="/learn-move-tecnique" class="learn-more-btn section-four-btn">Learn More</a>
      </div>
    </div>
  </section>

  <!-- Section Five -->
  <section class="section-five">
    <div class="flex-group section-five-flex-group">
      <div>
        <img src="../../../../assets/images/fabric-1.jpg" alt="">
      </div>
      <div class="content-container">
        <label>SELECTING A CLOTH</label>
        <p>We have thousand cloths to choose from, so there should be something for everyone’s taste and requirements. At your consultation, you can browse through our cloth books at your leisure.<br> Our tailoring consultant will be on hand to guide you through our huge array of fabrics.</p>
        <p>Once you have chosen a cloth that you like, we will show you our lining selection. Whether you like classic neutrals, bold colour or quirky prints, we have the perfect lining for you.</p>
        <a routerLink="/vestScraft-care" class="learn-more-btn section-four-btn">Read More</a>
      </div>
    </div>
  </section>

  <!-- Section six -->
  <section class="section-six">
    <div class="flex-group">
      <div>
        <img src="../../../assets/images/section-four.jpg" alt="">
      </div>
      <div class="content-container">
        <p>In the summer of 2020, we reported our representation data and committed to doing so annually. One year later, we are please to share an update on our goals, and progress, and the work that still needs to be done.</p>
        <a href="" class="learn-more-btn section-four-btn">What We Do</a>
      </div>
    </div>
  </section>

<!-- Section Seven -->

  <section class="section-seven">
        <h3>We employ handcrafted tailoring techniques to enhance the intricacy of each product we create.</h3>
        <a href="" class="learn-more-btn section-seven-btn">Our Work</a>
  </section>

<!-- Section Eight -->
  <section class="section-eight">
    <div class="flex-group-eight">
      <div>
        <img src="../../../assets/images/section-six.jpg" alt="">
        <h4>MEN’S STYLE TRAINING</h4>
        <p>Men are constantly told that our image is important and that first impressions are immediate and irrevocable. It’s hugely important that we stock our wardrobes with clothing that fits us well, both literally and metaphorically.</p>
      </div>

      <div>
        <img src="../../../assets/images/section-five.jpg" alt="">
        <h4>MEN’S STYLE TRAINING</h4>
        <p>Men are constantly told that our image is important and that first impressions are immediate and irrevocable. It’s hugely important that we stock our wardrobes with clothing that fits us well, both literally and metaphorically.</p>
      </div>
    </div>
  </section>
</body>
