<body>
  <div class="">
    <app-menu-customer></app-menu-customer>
  </div>
  <div class="timeline-main">
    <div class="timeline-wrap">
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">
              Your initial consultation getting to know you
            </h2>
          </div>
          <p class="timeline-card-text">
            At the beginning of your consultation, our tailoring consultant will
            sit with you and discuss what you’re hoping to get from a suit and
            if you have any images or ideas you’ve brought with you. Your
            answers to these questions will give us the information we need to
            show you our recommended cloth books and get started on the style.
          </p>
        </div>
      </div>
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">Selecting a cloth</h2>
          </div>
          <p class="timeline-card-text">
            We have thousand cloths to choose from, so there should be something
            for everyone’s taste and requirements. At your consultation, you can
            browse through our cloth books at your leisure. Our tailoring
            consultant will be on hand to guide you through our huge array of
            fabrics. Once you have chosen a cloth that you like, we will show
            you our lining selection. Whether you like classic neutrals, bold
            colour or quirky prints, we have the perfect lining for you.
          </p>
        </div>
      </div>
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">Styling your suit</h2>
          </div>
          <p class="timeline-card-text">
            Whether you opt for our made-to-measure or our fully-bespoke (Half &
            full canvas) construction method, there are so many style options
            available to you.<br />
            Our tailoring consultant will guide you through our style options,
            with the help of our sample jackets. If there is a particular style
            detail that you would like to include in your suit, mention it to
            your consultant. It is very likely that we will be able to include
            it.
          </p>
        </div>
      </div>
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">Measuring you for a bespoke suit</h2>
          </div>
          <p class="timeline-card-text">
            In order to be as accurate as possible, we request that you wear
            trousers (not jeans) and a shirt to be measured in. We have fitting
            rooms, so if you want to bring a change of clothing, that is
            absolutely fine.<br />
            Whilst measurements are very important, your body posture is
            critical to the fit of the suit so your tailoring consultant will
            take a combination of up to 30 unique measurements from your body,
            as well as take notes and photographs of your posture.<br />
            This process only takes 15-20 minutes.
          </p>
        </div>
      </div>
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">Placing your order</h2>
          </div>
          <p class="timeline-card-text">
            At this stage, we have all of the information we need to start
            tailoring your suit. We take a 50% deposit when we place the order
            and the balance is due when you collect the finished suit.
          </p>
        </div>
      </div>
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">Fitting the completed suit</h2>
          </div>
          <p class="timeline-card-text">
            Bespoke tailoring is an art – not a science, so your suit needs a
            fitting before it is ready for you to take home.<br />
            Your one time fitting will be 3-5 days after placing your order for
            our made-to-measure suits. If you want your fitting to be sooner, we
            do offer express services.<br />
            At this fitting, you will try on your fully constructed suit for the
            first time. Our tailoring consultant will assess whether the suit
            needs any alterations. You will also have an opportunity to provide
            feedback on the fit and how it feels. If you need alterations, Our
            tailoring consultant will pin the garment for our tailor to alter.
          </p>
        </div>
      </div>
      <div class="timeline-card">
        <div class="timeline-card-wrap">
          <div class="card-head-wrap">
            <h2 class="timeline-card-head">Taking your suit home</h2>
          </div>
          <p class="timeline-card-text">
            If your suit doesn’t need alterations, you may take it home! All we
            would ask for is your remaining balance.<br />
            After you collect your suit you have 21 days to bring the suit back
            for free alterations. If you notice anything else that needs
            adjusting after wearing it a few times, please do get in touch. We
            are more than happy to help.<br />
            If you have any questions, please see our FAQs page or
            <a routerLink="/contact-us">contact us</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
