<!-- <h3>What we do</h3>
<div class="review-work">
  <div class="card">
    <img src="../../../../../assets/images/whatwedo1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">elegant</h5>
      <p class="card-text">aaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaaaaa aaaaaa aaaaaaaaaa aaaaaa aaaaaaa aaaaaaaaaa</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <img src="../../../../../assets/images/whatwedo2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">dignified</h5>
      <p class="card-text">aaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaaaaa aaaaaa aaaaaaaaaa aaaaaa aaaaaaa aaaaaaaaaa</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <img src="../../../../../assets/images/whatwedo3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Stylish</h5>
      <p class="card-text">aaaaaa aaaaaaa aaaaaaa aaaaaaa aaaaaaaaaa aaaaaa aaaaaaaaaa aaaaaa aaaaaaa aaaaaaaaaa</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->
<section class="hero-section">
  <div class="card-grid">
    <a class="card">
      <div class="card__background"
      style="background-image: url('../../../../../assets/images/thoitrang.jpg')">
      </div>
      <div class="card__content">
        <p class="card__category">Fashion</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../../../assets/images/phongcach.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Stylish</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../../../assets/images/lichlam.jpg)"></div>
      <div class="card__content">
        <p class="card__category">High fashioned</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(../../../../../assets/images/thoithuong.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Elegant</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
  </div>
</section>
