<section class="hero-section">
  <div class="card-grid">
    <a class="card">
      <div
        class="card__background"
        style="
          background-image: url('../../../../../assets/images/thoitrang.jpg');
        "
      ></div>
      <div class="card__content">
        <p class="card__category">Fashion</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
    <a class="card">
      <div
        class="card__background"
        style="
          background-image: url(../../../../../assets/images/phongcach.jpg);
        "
      ></div>
      <div class="card__content">
        <p class="card__category">Stylish</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
    <a class="card">
      <div
        class="card__background"
        style="background-image: url(../../../../../assets/images/lichlam.jpg)"
      ></div>
      <div class="card__content">
        <p class="card__category">High fashioned</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
    <a class="card">
      <div
        class="card__background"
        style="
          background-image: url(../../../../../assets/images/thoithuong.jpg);
        "
      ></div>
      <div class="card__content">
        <p class="card__category">Elegant</p>
        <!-- <h3 class="card__heading">Example Card Heading</h3> -->
      </div>
    </a>
  </div>
</section>
