<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="header-top">
      <app-header></app-header>
    </div>
    <div>
      <div class="">
        <img src="../../../../assets/images/bodymeasurement.jpg" alt="">
      </div>
      <div class="content-form">
        <form class="form-control">
          <select>
            <option>Male</option>
            <option>Famale</option>
          </select>
          <input class="border-2 border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
          <input class="border-2 border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
          <input class="border-2 border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
        </form>
      </div>
    </div>
  </div>
</body>
