<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <app-header
    ></app-header>
    <div>
      <div class="col-md-12 button-edit d-flex justify-content-end">
        <button (click)="changeDisable()">Edit</button>
      </div>
      <form>
        <div class="container rounded bg-white">
          <div class="row">
              <div class="col-md-4 border-right">
                  <div class="d-flex flex-column align-items-center text-center p-3"><img class="rounded-circle mt-5" width="150px" [src]="userInfo?.image" alt="">
                    <span class="font-weight-bold">{{userInfo?.firstname}} {{userInfo?.lastname}}</span>
                    <span class="text-black-50">{{userInfo?.email}}
                    </span><span> </span></div>
              </div>
              <div class="col-md-8 border-right">
                  <div class="p-3 py-5">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Profile</h4>
                      </div>
                      <div class="row mt-2">
                          <div class="col-md-6"><label class="labels">Name</label><input type="text" formControlName="firstName" class="form-control" placeholder="first name" [value]="userInfo.firstname"  [disabled]="disabledName"></div>
                          <div class="col-md-6"><label class="labels">Surname</label><input type="text" formControlName="firstLast" class="form-control" [value]="userInfo.lastname" placeholder="surname"  [disabled]="disabledName"></div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-md-12"><label class="labels">Email ID</label><input type="text" formControlName="email" class="form-control" placeholder="enter email id" [value]="userInfo.email" [disabled]="disabledName"></div>
                          <div class="col-md-12"><label class="labels">Position</label><input type="text" formControlName="position" class="form-control" placeholder="enter position" [value]="userInfo.position"  [disabled]="disabledName"></div>
                          <div class="col-md-12"><label class="labels">Street</label><input type="text" formControlName="street" class="form-control" placeholder="enter street" [value]="userInfo.street"  [disabled]="disabledName"></div>
                          <div class="col-md-12"><label class="labels">Ward</label><input type="text" formControlName="ư" class="form-control" placeholder="enter ward" [value]="userInfo.ward"  [disabled]="disabledName"></div>
                          <div class="col-md-12"><label class="labels">District</label><input type="text" class="form-control" placeholder="District" [value]="userInfo.district"  [disabled]="disabledName"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">City</label><input type="text" class="form-control" [value]="userInfo.city" placeholder="city"  [disabled]="disabledName"></div>
                          <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" [value]="userInfo.country"  [disabled]="disabledName"></div>
                      </div>
                      <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">Save</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
