<div>
  <app-menu></app-menu>
</div>
<div class="flex">
  <div class="col-md-12">
    <div class="container-xl">
      <div class="row navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-md-12">
          <div class="Title navbar-brand">
            <h2>Xin chào</h2>
          </div>
        </div>
      </div>
      <div class="row p-32">
        <div class="controltab">
          <button (click)="activeTab = 'A'">Basic infomation</button>
          <button (click)="activeTab = 'B'">Change Password</button>
          <button (click)="activeTab = 'C'">Manager Account</button>
        </div>
      </div>

      <div class="row">
        <div [ngSwitch]="activeTab">
          <div *ngSwitchCase="'A'">
            <div class="row">
              <div [ngSwitch]="activeTab">
                <div *ngSwitchCase="'A'">
                  <div class="contentTab">
                    <form [formGroup]="Form" (submit)="updateProfile()">
                      <div class="row p-16">
                          <div class="package-filter-content-wrapper">
                            <div class="section">
                              <p class="titleTable">Basic information</p>
                              <div class="filter-row">
                                <div class="package-filter-wrapper w-100">
                                  <div class="w-50">
                                    <label>FirstName *</label>
                                    <div class="laas-package-input">
                                      <span class="icon"> <mat-icon>account_circle</mat-icon> </span>
                                      <input>
                                    </div>
                                  </div>
                                  <div class="w-50">
                                    <label>LastName*</label>
                                    <div class="laas-package-input">
                                      <span class="icon"> <mat-icon>account_circle</mat-icon> </span>
                                      <input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="filter-row">
                                <div class="package-filter-wrapper w-100">
                                  <div class="w-50">
                                    <label>Position*</label>
                                    <div class="laas-package-input">
                                      <span class="icon"> <mat-icon>account_circle</mat-icon> </span>
                                      <input>
                                    </div>
                                  </div>
                                  <div class="w-50">
                                    <label>Company*</label>
                                    <div class="laas-package-input">
                                      <span class="icon"> <mat-icon>account_circle</mat-icon> </span>
                                      <input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="package-filter-content-wrapper">
                            <div class="section">
                              <p class="titleTable">Address</p>
                              <div class="filter-row">
                                <div class="package-filter-wrapper w-100">
                                  <div class="w-33">
                                    <label>Street*</label>
                                    <div class="laas-package-input">
                                      <input>
                                    </div>
                                  </div>
                                  <div class="w-33">
                                    <label>Ward*</label>
                                    <div class="laas-package-input">
                                      <input>
                                    </div>
                                  </div>
                                  <div class="w-33">
                                    <label>District*</label>
                                    <div class="laas-package-input">
                                      <input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="filter-row">
                                <div class="package-filter-wrapper w-100">
                                  <div class="w-33">
                                    <label>City*</label>
                                    <div class="laas-package-input">
                                      <input>
                                    </div>
                                  </div>
                                  <div class="w-33">
                                    <label>Bang*</label>
                                    <div class="laas-package-input">
                                      <input type="text">
                                    </div>
                                  </div>
                                  <div class="w-33">
                                    <label>Country*</label>
                                    <div class="laas-package-input">
                                      <input type="text">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="package-filter-content-wrapper">
                            <div class="section">
                              <p class="titleTable">Credentials</p>
                              <div class="filter-row">
                                <div class="package-filter-wrapper w-100">
                                  <div class="w-50">
                                    <label>Number Phone*</label>
                                    <div class="laas-package-input">
                                      <input>
                                    </div>
                                  </div>
                                  <div class="w-50">
                                    <label>UserName*</label>
                                    <div class="laas-package-input">
                                      <input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="filter-row">
                                <div class="package-filter-wrapper w-100">
                                  <div class="w-100">
                                    <label>Email*</label>
                                    <div class="laas-package-input">
                                      <span class="icon"> <mat-icon>account_circle</mat-icon> </span>
                                      <input>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="buttons">
                            <button class="button__update">update</button>
                            <button class="button__reset">Reset</button>
                          </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <!-- content tab-B -->
        <div *ngSwitchCase="'B'">
          <span>content Change Password</span>
        </div>
        <!-- content Tab-c -->
        <div *ngSwitchCase="'C'">
          <span>content Manager Account</span>
        </div>
      </div>
    </div>
  </div>
</div>
