<body>
  <app-menu-customer></app-menu-customer>

  <section class="section-one">
    <div class="image-container">
        <img class="animate-left" src="../../../../assets/images/intro.jpg" alt="Image 1">
        <div class="animate-right">
          <h3>Introduction</h3>
          <div>
            <p>Nestled in the lush tree-lined charming diplomatic Tran Phu Street, merely few steps from the quaint Hanoi Old Quarter, VestScraft Bespoke Suits & Tailoring located in the lobby of the luxury 4+ star AIRA Boutique Hanoi Hotel & Spa</p>
            <p>For the first time, the art of British suit making comes to Vietnam. Our products are of modern style, 100% hand-made by the most skillful Vietnamese tailors. Customers can choose between Made to measure and real Bespoking. We provide fused, half canvassed or full canvassed suits.</p>
            <p>Our clients include astute businessmen, entertainment celebs, wedding grooms, graduated. For travelers with limited time, 24-hour express service is available. The shop opens daily from 9AM to 7PM. Special discounts and/or gifts are at offer for in-house guests at AIRA BOUTIQUE HANOI and all hotels of AHG Group. Please come visit our tailor shop where your high demand is fully served.</p>
          </div>
          <div>
            <button routerLink="/crm-product">Order</button>
          </div>
        </div>
    </div>
  </section>

  <section class="section-two">
    <div>
      <app-body-measurement></app-body-measurement>
    </div>
  </section>
</body>
