<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="avatar">
      <app-header></app-header>
    </div>
    <div class="buttons">
      <button (click)="generatePDF()">Generate</button>
    </div>
    <section class="h-custom" id="invoice" #invoice>
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
              <div class="card-body p-5">

                <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>

                <div class="row">
                  <div class="col mb-3">
                    <p class="small text-muted mb-1">Order Date</p>
                    <p>{{order?.startTime | date}}</p>
                  </div>
                  <div class="col mb-3">
                    <p class="small text-muted mb-1">Order No.</p>
                    <p>{{order?._id}}</p>
                  </div>
                </div>

                <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                  <div class="row">
                    <div class="col-md-8 col-lg-9">
                      <p>Name Product</p>
                      <p *ngFor="let item of order?.product">{{item?.productId?.name}}</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <p>Price</p>
                      <p  *ngFor="let item of order?.product">${{isWithinDateRange ? (item?.price - item?.price * item?.discount / 100) : item?.price }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 col-lg-9">
                      <p class="mb-0">Delivery date</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <p class="mb-0">{{order?.endTime | date}}</p>
                    </div>
                  </div>
                </div>

                <div class="row my-4">
                  <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                    <p class="lead fw-bold mb-0" style="color: #f37a27;">${{order?.totalCount}}</p>
                  </div>
                </div>
                <p class="mt-4 pt-2 mb-0">Want any help? <a routerLink="/contact-us" style="color: #f37a27;">VestSraft</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
