<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <app-header></app-header>
    <div class="col-md-12" *ngIf="isAdmin">
      <app-add-material
        (fetchData)="handleAddMaterial($event)"
      ></app-add-material>
    </div>
    <div class="filter-backdrop" *ngIf="isLoading">
      <div *ngIf="isLoading" class="loading"></div>
    </div>
    <div class="table-users">
      <table cellspacing="0">
        <tr>
          <td>Id</td>
          <td>Image</td>
          <td>Name Material</td>
          <td>Category</td>
          <td>Color</td>
          <td>Size</td>
          <td>Price</td>
          <td>Currency</td>
          <td>Supplier</td>
          <td>Email</td>
          <td>createdAt</td>
          <td>Option</td>
        </tr>
        <tr
          *ngFor="
            let items of materials?.slice(
              (currentPage - 1) * pageSize,
              currentPage * pageSize
            );
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td><img [src]="items.image" alt="" /></td>
          <td>{{ items?.name }}</td>
          <td>{{ items?.material }}</td>
          <td>{{ items?.color }}</td>
          <td>{{ items?.size }}</td>
          <td>{{ items?.price }}</td>
          <td>{{ items?.currency }}</td>
          <td>{{ items?.companyId?.companyName }}</td>
          <td>{{ items?.companyId?.email }}</td>
          <td>{{ items?.createdAt | date }}</td>
          <td *ngIf="isAdmin">
            <app-edit-material
              [materialData]="items"
              [materialId]="items._id"
              (data)="handledata()"
            >
            </app-edit-material>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()">
        Trang trước
      </button>
      <button
        [disabled]="currentPage * pageSize >= materials?.length"
        (click)="nextPage()"
      >
        Trang sau
      </button>
    </div>
  </div>
</body>
