// .login-section{
//   margin: 100px;
// }

// .login-failed{
//   text-align: center;
//   margin: auto;
//   margin-top: 10px;
//   border: 2px solid black;
//   width: 65%;
//   background-color: red;
// }

// .margin-48{
//   margin-top: 48px;
// }
// .p-8{
//   padding: 8px;
// }
// .p-16{
//   padding: 16px;
// }
// .title{
//   margin-bottom: 16px;
// }
// input{
//   margin-bottom: 16px;
// }
// img{
//   text-align: center;
//   max-height: 75%;
//   max-width: 75%;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// }
// .formlogin{
//   h1{
//     color: #F07E14;
//     font-family: 'Playfair Display', serif;
//   }
//   i{
//     color: #F07E14;
//     font-family: 'Playfair Display', serif;
//   }
//   .login-section{
//     background-color: #6A5636;
//   }
//   button{
//     margin: 16px;
//     min-width: 45vh;
//     margin-left: 16px;
//     border-radius: 50px;
//     background-color: #F07E14;
//     &:hover{
//       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//     }
//     &:focus{
//       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//     }
//   }
// }
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.formLogin {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
