<body>
  <div>
  <app-menu-customer></app-menu-customer>
  </div>

  <div class="content-profile">
    <div class="container">
      <div class="profile-header">
        <div class="profile-img">
          <img [src]="customer?.image" width="200" alt="Profile Image">
        </div>
        <div class="profile-nav-info">
          <h3 class="user-name">{{customer?.firstName}} {{customer?.lastName}}</h3>
          <div class="address">
            <p id="state" class="state">{{customer?.city}},</p>
            <span id="country" class="country">{{customer?.country}}</span>
          </div>
        </div>
      </div>

      <div class="main-bd">
        <div class="left-side">
          <div class="profile-side">
            <div>
              <label>Email:</label>
              <p class="user-mail"><i class="fa fa-envelope"></i> {{customer?.email}}</p>
            </div>
            <div>
              <label>Number Phone</label>
              <p class="mobile-no"><i class="fa fa-phone"></i> {{customer?.numberPhone}}</p>
            </div>
            <div>
              <label>Gender</label>
              <p class="mobile-no"><i class='bx bx-body'></i> {{customer?.gender}}</p>
            </div>
            <div>
              <label>Address</label>
              <p class="mobile-no">
                <i class='bx bx-buildings' ></i> {{customer?.street}}, {{customer?.ward}}, {{customer?.district}}
              </p>
            </div>
          </div>

        </div>
        <div class="right-side">
          <div class="nav">
            <ul>
              <li (click)="activeTab = 'A'" class="user-post" [ngClass]="{active: activeTab}" style="color: rgb(36, 36, 36);">Posts</li>
              <li (click)="activeTab = 'B'" class="user-review" [ngClass]="{active: activeTab}" style="color: rgb(36, 36, 36);">Reviews</li>
              <li (click)="activeTab = 'C'" class="user-setting" [ngClass]="{active: activeTab}"  style="color: rgb(36, 36, 36);"> Settings</li>
            </ul>
          </div>
          <div class="profile-body">
            <div [ngSwitch]="activeTab">
              <div *ngSwitchCase="'A'">
                <div class="profile-posts tab">
                  <p style="color: black;">aa</p>
                </div>
              </div>
              <div *ngSwitchCase="'B'" class="profile-reviews tab">
                <h1 style="color: black;">User reviews</h1>
              </div>
              <div *ngSwitchCase="'C'" class="profile-settings tab">
                <div class="account-setting">
                  <app-setting-info
                  [customerId] = "customerId"
                  [customer]="customer"
                  ></app-setting-info>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

