<div class="content-wrapper package-filter-wrapper">
  <div class="package-filter-button mt-2 mt-sm-0">
    <button #filterButton class="filter-button" [ngClass]="{'open': isOpen}" (click)="isOpenOrder()">
      <i class='bx bx-plus'></i>
      <span> Add to Cart </span>
    </button>
  </div>
</div>

<div class="filter-backdrop" *ngIf="isOpen"></div>
<div class="laas-package-filter" *ngIf="isOpen" #filterPopup>
  <div class="filter-header-icon">
    <div class="filter-text">
      Add Company
    </div>
    <div class="close-icon cursor-pointer" (click)="isOpenOrder()">
      <img src="../../assets/icons/icon_close.svg" alt="">
    </div>
  </div>

  <div class="pop-up-body">
    <form [formGroup] = "form" (submit)="createOrder()">
    </form>
  </div>
</div>
