<section class="pb-5" id="services">
  <div class="container">
      <div class="row">
          <div class="offset-lg-3 col-lg-6">
              <div class="center-text">
                  <p>The story of Vestscraft: the best bespoke suit and made-to-order men clothes made</p>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <a routerLink="/crm-product" class="services-small-item active">
                  <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                  <h5 class="services-title">Order</h5>
                  <p>The story of Vestscraft: the best bespoke suit and made-to-order men clothes made</p>
                  <div class="button">
                      <i class="fa fa-chevron-right"></i>
                  </div>
              </a>
              <div class="item-bg"></div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <a routerLink="/in-store-order" class="services-small-item">
                  <div class="icon">
                    <i class='bx bx-store'></i>
                  </div>
                  <h5 class="services-title">In-store order</h5>
                  <p>VestScraft is different and will help customer satisfied by our professional process</p>
                  <div class="button">
                      <i class="fa fa-chevron-right"></i>
                  </div>
              </a>
              <div class="item-bg"></div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <a href="https://bit.ly/2LHKl61" class="services-small-item">
                  <div class="icon">
                    <i class='bx bx-home-circle'></i>
                  </div>
                  <h5 class="services-title">Home order</h5>
                  <p>Our team of tailors will visit you for all your tailoring needs, at your preferred time and location. </p>
                  <div class="button">
                      <i class="fa fa-chevron-right"></i>
                  </div>
              </a>
              <div class="item-bg"></div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <a routerLink="/online-order" class="services-small-item">
                  <div class="icon">
                    <i class='bx bx-bookmark-alt'></i>
                  </div>
                  <h5 class="services-title">Online order</h5>
                  <p>You can order a suit online for yourself based on your measurements</p>
                  <div class="button">
                      <i class="fa fa-chevron-right"></i>
                  </div>
              </a>
              <div class="item-bg"></div>
          </div>
      </div>
  </div>
</section>
