<div class="content-wrapper package-filter-wrapper">
  <div class="package-filter-button mt-2 mt-sm-0">
    <div>
    <button class="navbar-toggler" type="button"
    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    [ngClass]="{'open': isOpen}" (click)="openMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
    </button>
    <span> DUCCIO </span>
    </div>
    <div class="contact">
      <span><i class='bx bxl-facebook-circle' ></i></span>
      <span><i class='bx bxs-envelope'></i></span>
      <span><i class='bx bxs-phone'></i></span>
    </div>
  </div>
</div>
<div class="filter-backdrop navbar navbar-expand-lg navbar-dark" *ngIf="isOpenMenu"></div>
<div class="laas-package-filter" *ngIf="isOpenMenu" #filterPopup>
  <div class="container-fluid">
    <div class="filter-header-icon">
      <div class="navbar-brand fw-bold filter-text">
        DUCCIO
      </div>
      <div class="close-icon cursor-pointer" (click)="openMenu()">
        <img src="../../assets/icons/icon_close.svg" alt="">
      </div>
    </div>
    <hr>
    <div class="pop-up-body">
      <div class="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home"><i class='bx bx-home'></i> Home</a>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" appToggleDropdown>
              <i class='bx bx-cart-add'></i> Order Process
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li *ngIf="!isAdmin"><a class="dropdown-item" routerLink="/new-order"><i class='bx bxs-cart-add'></i> New Order</a></li>
                <li><a class="dropdown-item" routerLink="/order/draft-order"><i class='bx bxs-cart-add'></i> Draft Order</a></li>
                <li><a class="dropdown-item" routerLink="/management-order"><i class='bx bxs-shopping-bags'></i> Management Order</a></li>
                <li><a class="dropdown-item" routerLink="/appointment-management"><i class='bx bxs-shopping-bags'></i> Apppointment Management</a></li>
                <li><a class="dropdown-item" routerLink="/quote-management"><i class='bx bx-folder-open'></i> Quote Management</a></li>
              </ul>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer-management"><i class='bx bxs-group'></i> Customer Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-management"><i class='bx bxs-archive' ></i> Product Management</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" routerLink="/price-of-products"><i class='bx bx-wallet'></i> Price of Product</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" routerLink="/material-management"><i class='bx bxs-bookmark'></i> Fabric Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/supplier-management"><i class='bx bx-buildings'></i> 3rd-party Management</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" appToggleDropdown>
              <i class='bx bxs-user-circle'></i> Profile Management
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/profile"><i class='bx bx-user-circle'></i> My Profile</a></li>
                <li *ngIf="isAdmin"><a class="dropdown-item" routerLink="/list-account"><i class='bx bxs-user-account'></i> Management User</a></li>
              </ul>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="logout()"><i class='bx bxs-log-out bx-rotate-180' ></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- menu desktop -->
<nav class='animated bounceInDown'>
  <ul>
    <h3><i class='bx bx-spa'></i> <span>VestScraft</span></h3>
    <li><a routerLink="/home"><i class='bx bx-home'></i> <span>Home</span></a></li>
    <li class='sub-menu' (click)="toggleSubMenu('orderProcess')">
      <a><i class='bx bx-cart-add'></i> Order Process <div [ngClass]="{'fa-caret-up': isSubMenuOpen['orderProcess'], 'fa-caret-down': !isSubMenuOpen['orderProcess']}" class='fa right'></div></a>
      <ul *ngIf="isSubMenuOpen['orderProcess']">
        <li *ngIf="!isAdmin"><a routerLink="/new-order"><i class='bx bxs-cart-add'></i> <span>New Order</span></a></li>
        <li><a routerLink="/order/draft-order"><i class='bx bx-receipt'></i> <span>Draft Order</span></a></li>
        <li><a routerLink="/management-order"><i class='bx bxs-shopping-bags'></i> <span>Management Order</span></a></li>
        <li><a routerLink="/appointment-management"><i class='bx bxs-shopping-bags'></i> <span>Apppointment Management</span></a></li>
        <li><a routerLink="/quote-management"><i class='bx bx-folder-open'></i> <span>Quote Management</span></a></li>
      </ul>
    </li>
    <li><a routerLink="/customer-management"><i class='bx bxs-group'></i> <span>Customer Management</span></a></li>
    <li *ngIf="isAdmin"><a routerLink="/price-of-products"><i class='bx bx-wallet'></i> <span>Price of Product</span></a></li>
    <li><a routerLink="/product-management"><i class='bx bxs-archive' ></i> <span>Product Management</span></a></li>
    <li *ngIf="isAdmin"><a routerLink="/material-management"><i class='bx bxs-bookmark'></i> <span>Fabric Management</span></a></li>
    <li *ngIf="isAdmin"><a routerLink="/supplier-management"><i class='bx bx-buildings'></i> <span>3rd-party Management</span></a></li>
    <li class='sub-menu' (click)="toggleSubMenu('profile')">
      <a><i class='bx bxs-user-circle'></i> <span>Profile Management</span><div [ngClass]="{'fa-caret-up': isSubMenuOpen['profile'], 'fa-caret-down': !isSubMenuOpen['profile']}" class='fa right'></div></a>
      <ul *ngIf="isSubMenuOpen['profile']">
        <li><a routerLink="/profile"><i class='bx bx-user'></i> <span>Profile</span></a></li>
        <li *ngIf="isAdmin"><a routerLink="/list-account"><i class='bx bx-user'></i> <span>Management User</span></a></li>
        <li *ngIf="!isAdmin"><a href='#settings'><i class='bx bx-bookmark-alt-minus'></i> <span>Order</span></a></li>
        <li><a routerLink="/setting"><i class='bx bx-cog'></i> <span>Setting</span></a></li>
      </ul>
    </li>
    <li><a (click)="logout()"> <i class='bx bxs-log-out bx-rotate-180' ></i> <span>Logout</span></a></li>
  </ul>
</nav>
