<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <app-header></app-header>
    <div class="col-md-12">
      <app-add-new-user
          (fetchData)="handleAddUser($event)"
          ></app-add-new-user>
    </div>
    <div class="filter-backdrop" *ngIf="isLoading">
      <div *ngIf="isLoading" class="loading"></div>
    </div>
    <div class="table-users">
      <table cellspacing="0">
        <tr>
          <th>Id</th>
          <th>Avatar</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Position</th>
          <th>Address</th>
          <th>isAdmin</th>
          <th>option</th>
        </tr>
        <tr *ngFor= "let item of listUser?.slice((currentPage - 1) * pageSize, currentPage * pageSize); let i = index">
          <td>{{i + 1}}</td>
          <td>
            <img *ngIf="!item.image" src="../../../assets/images/defauthAvatar.jpg" alt="">
            <img *ngIf="item.image" [src]="item.image" alt="">
          </td>
          <td>{{item.firstname}}</td>
          <td>
            <app-detail-user
            [getDetailUser] = "item"
            [userId] = "item._id"
            ></app-detail-user>
          </td>
          <td>{{item.email}}</td>
          <td>{{item.position}}</td>
          <td><span>{{item.street}},{{item.ward}},{{item.district}}, {{item.city}}, {{item.country}}</span></td>
          <td>
            <div class="form-check form-switch">
              <input
                mdbCheckbox
                class="form-check-input"
                type="checkbox"
                [checked]="item.isAdmin"
              />
            </div>
          </td>
          <td>
            <span>
              <app-filter-management-account
              [getDetailUser]= "item"
              [userId]= "item._id"
              (fetchData)="handleEditUser()"
              >
              </app-filter-management-account></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()">Trang trước</button>
      <button [disabled]="currentPage * pageSize >= listUser?.length" (click)="nextPage()">Trang sau</button>
    </div>
  </div>
</body>
