<div class="container">
  <form [formGroup]="formInfo" (submit)="editInfoCustomer()">
      <h3>Information</h3>
      <label>E-mail</label><br>
      <input type="email" formControlName="email" placeholder="enter your email"><br>
      <label forname="fname">First Name</label><br>
      <input type="text" formControlName="firstName" placeholder="enter first name"><br>
      <label forname="lname">Last Name</label><br>
      <input type="text" formControlName="lastName" placeholder="Last name"><br>
      <label forname="gender">Gender</label><br>
      <select formArrayName="gender">
        <option>Male</option>
        <option>Famale</option>
        <option>Other</option>
      </select><br>
      <label>Number Phone</label><br>
      <input type="tel" formControlName="numberPhone" placeholder="number phone"><br>
      <label>Street</label><br>
      <input type="text" formControlName="street"  placeholder="street"><br>
      <label>Ward</label><br>
      <input type="text" formControlName="ward" placeholder="ward"><br>
      <label>District</label><br>
      <input type="text" formControlName="district" placeholder="district"><br>
      <label>City</label><br>
      <input type="text" formControlName="city" placeholder="city"><br>
      <label>Country</label><br>
      <input type="text" formControlName="country" placeholder="country"><br>
      <button type="submit">Save</button>
  </form>
  <div class="box">
    <form [formGroup]="formBody" (submit)="editBodyCustomer">
    <h3>Body measurements</h3>
    <label>Chest</label>
    <input type="number" formControlName="chest" min="0" placeholder="chest"><br>
    <label>Waist</label>
    <input type="number" formControlName="waist" min="0" placeholder="waist"><br>
    <label>Hips</label>
    <input type="number" formControlName="hips" min="0" placeholder="hips"><br>
    <label>Height</label>
    <input type="number" formControlName="height" min="0" placeholder="height"><br>
    <label>Weight</label>
    <input type="number" formControlName="weight" min="0" placeholder="weight"><br>
    <button type="submit">Save</button>
    </form>
  </div>
</div>
