<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="avatar">
      <app-header></app-header>
    </div>
    <div class="table-users">
      <table cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>creater</th>
            <th>Customer</th>
            <th>Number Phone</th>
            <th>Shipping Address</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>totalCount</th>
            <th>Option</th>
            <th>Export PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of order?.slice((currentPage - 1) * pageSize, currentPage * pageSize); let i = index">
            <td>{{ order._id }}</td>
            <td>{{ order.user?.firstname}} {{ order.user?.lastname}}</td>
            <td>{{ order.customer?.firstName }} {{ order.customer?.LastName }}</td>
            <td>{{ order.customer?.numberPhone }}</td>
            <td>{{ order?.shippingAddress }}</td>
            <td>{{ order?.status }}</td>
            <td>{{ order?.startTime | date }}</td>
            <td>{{ order?.endTime | date }}</td>
            <td>{{ order?.totalCount }}</td>
            <td>
              <div class="buttons">
                <button class="button_active" (click) = "handleUpdateStatusOrder(order?._id, statusOrder.ACTIVE_STATUS)">Active</button>
                <button class="button_done" (click) = "handleUpdateStatusOrder(order?._id, statusOrder.DONE_STATUS)">Done</button>
              </div>
            </td>
            <td>
              <a routerLink="/Generatepdf/{{order._id}}">PDF</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()">
        Trang trước
      </button>
      <button
        [disabled]="currentPage * pageSize >= order?.length"
        (click)="nextPage()"
      >
        Trang sau
      </button>
    </div>
  </div>
</body>
