<body>
  <diV>
    <app-menu-customer></app-menu-customer>
  </diV>
  <div class="content">
    <div class="bg-picture">
      <img src="../../../../../assets/images/bg-1.jpg" alt="">
    </div>
    <div class="body-content">
      <label>BESPOKE SUITS</label>
      <p>"Our suits are designed in a modern style, and each detail is entirely handcrafted. We take pride in offering a wide range of material choices for our customers, including both domestic and imported options. This ensures that you can enjoy the uniqueness and personalization of your suit while meeting all your individual needs and preferences. The diverse materials and meticulous craftsmanship in every stitch are the strengths that make our suits stand out and worth the purchase."</p>
    </div>
  </div>
  <div>
    <a class="" routerLink="/homeCustomer">back</a>
  </div>
</body>
