
<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <app-header></app-header>
    <div class="col-md-12">
      <app-add-new-product
      (fetchData)="handleAddProduct($event)"
      ></app-add-new-product>
    </div>
    <div class="filter-backdrop" *ngIf="isLoading">
      <div *ngIf="isLoading" class="loading"></div>
    </div>
    <div class="table-users">
      <div class="header">Product</div>
        <table cellspacing="0">
            <tr>
              <td>id</td>
              <td>images</td>
              <td>Name Product</td>
              <td>product_type</td>
              <td>Material</td>
              <td>Color</td>
              <td>Fabric type</td>
              <td>created on</td>
              <td>published_on</td>
              <td>Option</td>
            </tr>
            <tr *ngFor="let data of dataProduct?.slice((currentPage - 1) * pageSize, currentPage * pageSize); let i = index">
              <td>{{i + 1}}</td>
              <td>
                <img *ngIf="!data.image" src="../../../assets/images/defaultthumbnail.jpg" alt="">
                <img *ngIf="data.image" [src]="data.image" alt="">
              </td>
              <td>{{data.name}}</td>
              <td>{{data.product_type}}</td>
              <td>{{data.fabricId?.name}}</td>
              <td>{{data.fabricId?.color}}</td>
              <td>{{data.fabricId?.material}}</td>
              <td>{{data.createdAt | date: 'MM/dd/yyyy'}}</td>
              <td>{{data.published_on | date: 'MM/dd/yyyy'}}</td>
              <td>
                <app-update-delete-product
                [productData] = "data"
                [productId] =  "data?._id"
                (data) = "handleEditProduct()"
                ></app-update-delete-product>
              </td>
            </tr>
        </table>
    </div>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()">Trang trước</button>
      <button [disabled]="currentPage * pageSize >= dataProduct?.length" (click)="nextPage()">Trang sau</button>
    </div>
  </div>
</body>



