<body>
  <div>
    <app-menu-customer></app-menu-customer>
  </div>
  <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Door-To-Door Order</h2>
            <h3 class="section-subheading text-muted">Our dedicated team of tailors will visit you for all your tailoring needs, at your preferred time and location.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><i class='bx bx-calendar'></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3>Step 1</h3>
                      <h4 class="subheading">Make an appointment</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Let us know where and what time you're available for a door-to-door visit by our tailors.</p>
                    </div>
                    <a routerLink="/contact-us">Make an appointment</a>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><i class='bx bx-home-smile'></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3>Step 2</h3>
                      <h4 class="subheading">We measure you at home</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">We arrive at your door at your booked appointment time. We measure you at the comfort of your home.</p>
                      <p class="text-muted">During the appointment, we will present to you our latest and wide selection of international renowned fabric brands for your selection.</p>
                      <p class="text-muted">We will conduct a detailed and precise bodily measurement followed by a block fitting session, featuring our signature house design to cater for yourposture.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><i class='bx bxs-t-shirt'></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3>Step 3</h3>
                      <h4 class="subheading">Bespoke fitting</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">We will revisit you at your desired location for a thorough fitting of your tailored suit.</p>
                      <p class="text-muted">Here we will see if any adjustments are needed before the final product is ready.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><i class='bx bxs-truck'></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3>Step 4</h3>
                      <h4 class="subheading">Suit is delivered</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">The custom-made personalized suit will be personally delivered to you.</p>
                      <p class="text-muted">Any additional suits made from then on will be effortless as we would already have a record of your measurements.</p>
                      <p class="text-muted">All you need to do is choose your desired design and fabric to be used.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                </div>
            </li>
        </ul>
    </div>
  </section>
</body>
