<body>
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="avatar">
      <app-header></app-header>
    </div>
    <div class="filter-backdrop" *ngIf="isLoading">
      <div *ngIf="isLoading" class="loading"></div>
    </div>
    <div class="table-users">
      <table cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>creater</th>
            <th>Customer</th>
            <th>Number Phone</th>
            <th>Shipping Address</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>totalCount</th>
            <th>Change Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of activeOrder, let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ order.user?.firstname}} {{ order.user?.lastname}}</td>
            <td>{{ order.customer?.firstName }} {{ order.customer?.LastName }}</td>
            <td>{{ order.customer?.numberPhone }}</td>
            <td>{{ order?.shippingAddress }}</td>
            <td>
              {{ order?.status | translateStatus }}
              <!-- {{ order?.status }} -->
            </td>
            <td>{{ order?.startTime | date }}</td>
            <td>{{ order?.endTime | date }}</td>
            <td>{{ order?.totalCount }}</td>
            <td>
              <div class="buttons">
                <button class="button_inactive" (click) = "handleUpdateStatusOrder(order?._id, statusOrder.INACTIVE_STATUS)" *ngIf="order?.status !== 1">Inactive</button>
                <button class="button_active" (click) = "handleUpdateStatusOrder(order?._id, statusOrder.ACTIVE_STATUS)" *ngIf="order?.status !== 2">Active</button>
                <button class="button_doing" (click) = "handleUpdateStatusOrder(order?._id, statusOrder.DOING_STATUS)" *ngIf="order?.status !== 3">Doing</button>
                <button class="button_delivery" (click) = "handleUpdateStatusOrder(order?._id, statusOrder.DELIVERY_STATUS)" *ngIf="order?.status !== 4">Delivery</button>
              </div>
              <!-- <app-pop-up-management-order
              [defaultStatus] = "order?.status"
              [orderId] = "order?._id"
              (fetchData)="handleLoadData()"
              >
              </app-pop-up-management-order> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()">
        back
      </button>
      <button
        [disabled]="currentPage * pageSize >= activeOrder?.length"
        (click)="nextPage()"
      >
        next
      </button>
    </div>
  </div>
</body>
