<div class="content-wrapper package-filter-wrapper">
  <div class="package-filter-button mt-2 mt-sm-0">
    <button #filterButton class="filter-button" [ngClass]="{'open': isOpen}" (click)="toggleDetailUser()">
      <i class='bx bx-filter' ></i>
      <span> Filter User </span>
    </button>
  </div>

  <div class="filter-backdrop" *ngIf="isOpen"></div>
  <div class="laas-package-filter" *ngIf="isOpen" #filterPopup>
    <div class="filter-header-icon">
      <div class="filter-text">
        Filter user
      </div>
      <div class="close-icon cursor-pointer" (click)="toggleDetailUser()">
        <img src="../../assets/icons/icon_close.svg" alt="">
      </div>
    </div>
    <div class="pop-up-body">
      <form [formGroup]="form" (submit)="handleFilterUser()">
        <div class="row">
          <div class="package-filter-content-wrapper">
            <div class="filter-row">
              <div class="package-filter-wrapper w-100">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="@gmail.com">
              </div>
            </div>
            <div class="filter-row">
              <div class="package-filter-wrapper w-50">
                <label>First Name</label>
                <input type="text" formControlName="firstname">
              </div>
              <div class="package-filter-wrapper w-50">
                <label>Last Name</label>
                <input type="text" formControlName="lastname" placeholder="last name">
              </div>
            </div>
            <div class="filter-row">
              <div class="package-filter-wrapper w-100">
                <label>Position</label>
                <input type="text" formControlName="position">
              </div>
            </div>
            <div class="filter-row">
              <div class="package-filter-wrapper w-33">
                <label>Street</label>
                <input type="text" formControlName="street">
              </div>
              <div class="package-filter-wrapper w-33">
                <label>Ward</label>
                <input type="text" formControlName="ward">
              </div>
              <div class="package-filter-wrapper w-33">
                <label>District</label>
                <input type="text" formControlName="district">
              </div>
            </div>
            <div class="filter-row">
              <div class="package-filter-wrapper w-50">
                <label>City</label>
                <input type="text" formControlName="city">
              </div>
              <div class="package-filter-wrapper w-50">
                <label>Country</label>
                <input type="text" formControlName="country">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button type="button" class="buttons__reset" (click)="toggleDetailUser()">
            Close
          </button>
          <button type="submit" class="buttons__apply">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
