<div class="content-wrapper package-filter-wrapper">
  <div class="package-filter-button mt-2 mt-sm-0">
      <span class="filter-button" [ngClass]="{'open': isOpenEdit}" (click)="isPopUpEdit()">Edit</span>
      <span class="filter-button" [ngClass]="{'open': isOpenConfirm}" (click)="isPopUpConfirm()">Confirm</span>
  </div>

  <div class="filter-backdrop" *ngIf="isOpenConfirm || isOpenEdit"></div>

  <!-- pop-up delete -->
  <div class="laas-package-filter" *ngIf="isOpenConfirm" #filterPopup>
    <div class="filter-header-icon">
      <div class="filter-text">
        Confirm Order
      </div>
    </div>
    <div class = "filter-body-content">
      <div class="display-infor-User">
        <p class="d-flex justify-content-center">Bạn có muốn chuyển order sang active</p>
      </div>
      <div class="buttons pop-up-delete">
        <button type="button" class="buttons__reset" (click)="isPopUpConfirm()">
          Close
        </button>
        <button type="submit" class="buttons__apply" (click)="confirmActiveOrder()">
          Confirm
        </button>
      </div>
    </div>
  </div>

  <!-- pop-up edit -->

  <div class="pop-up-edit" *ngIf="isOpenEdit" #filterPopup>
    <div class="filter-header-icon">
      <div class="filter-text">
        Edit Order
      </div>
      <div class="close-icon cursor-pointer" (click)="isPopUpEdit()">
        <img src="../../assets/icons/icon_close.svg" alt="">
      </div>
    </div>
    <div class="pop-up-body">
      <form [formGroup] = "form" (submit)="editOrder()">
        <div class="row">
          <div class="package-filter-content-wrapper">

            <div class="filter-row">
              <div class="package-filter-wrapper w-50">
                <label>Customer</label>
                <select formControlName="customer">
                  <option *ngFor="let item of customer" [value]="item?._id">{{item?.email}}</option>
                </select>
              </div>
              <div class="package-filter-wrapper w-50">
                <label>Product</label>
                  <mat-select formControlName="product" multiple>
                    <mat-option *ngFor="let data of product" [value]="data?._id">{{data?.products[0]?.name}}</mat-option>
                  </mat-select>
              </div>
            </div>

            <div class="filter-row">
              <div class="package-filter-wrapper w-50">
                <label>Order Date</label>
                <input type="date" class="inputs" formControlName="startTime" placeholder="startTime" required>
              </div>
              <div class="package-filter-wrapper w-50">
                <label>Delivery Date</label>
                <input type="date"  class="inputs" formControlName="endTime" placeholder="endTime" required>
              </div>
            </div>

            <div class="filter-row">
              <div class="package-filter-wrapper w-100">
                <label>Shipping Address</label>
                <input type="text"  class="inputs" formControlName="shippingAddress" placeholder="shipping address">
              </div>
            </div>

            <div class="checkbox">
              <div class="filter-row">
                <div class="package-filter-wrapper w-33">
                  <label>Direct Bank Transfer</label>
                  <input type="radio" formControlName="paymentMethod" value="0" checked>
                </div>
                <div class="package-filter-wrapper w-33">
                  <label>Cash on Delivery</label>
                  <input type="radio" formControlName="paymentMethod" value="1">
                </div>
                <div class="package-filter-wrapper w-33">
                  <label>Paypal</label>
                  <input type="radio" formControlName="paymentMethod" value="2">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pop-up-Edit buttons">
          <button type="button" class="buttons__reset" (click)="isPopUpEdit()">
            Close
          </button>
          <button type="submit" class="buttons__apply">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
